@import "./../../styles.scss";

section#about-me {
  padding: 120px 100px 0px;
  position: relative;
  overflow: hidden;

  @media (max-width: $breakpoint-desktop) {
    padding: 120px 50px 30px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 80px 15px 15px;
  }

  .about-content-wrapper {
    max-width: $breakpoint-1440p;
    width: 100%;
    display: $f;
    justify-content: space-between;
    gap: 32px;
    margin: 0 auto;

    @media (max-width: $breakpoint-desktop) {
      flex-direction: $col;
      align-items: $c;
      gap: 8px;
    }
  }

  .info-container,
  .photo-container {
    flex: 1;
    min-width: 0;
  }

  .info-container {
    z-index: 1;

    @media (max-width: $breakpoint-desktop) {
      display: $f;
      flex-direction: $col;
      align-self: flex-start;
    }

    h1 {
      font-size: 90px;

      @media (max-width: $breakpoint-1440p) {
        font-size: 72px;
      }

      @media (max-width: $breakpoint-desktop) {
        font-size: 56px;
      }

      @media (max-width: $breakpoint-tablet) {
        font-size: 36px;
      }

      @media (max-width: $breakpoint-mobile) {
        font-size: 29px;
      }
    }
    .info-content {
      width: 100%;
      margin-top: 16px;
      font-size: 16px;

      @media (max-width: $breakpoint-1440p) {
        font-size: 14px;
      }

      @media (max-width: $breakpoint-mobile) {
        font-size: 12px;
      }

      table {
        border-collapse: separate;
        border-spacing: 4px 6px;
        font-weight: 400;

        .va-middle {
          vertical-align: middle;
        }

        td {
          max-width: 600px;
          vertical-align: top;
          text-align: left;

          img {
            width: 48px;
            height: auto;
            transition: transform 125ms ease-in-out;
            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }

  .photo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    max-height: 800px;

    @media (max-width: $breakpoint-1440p) {
      min-height: 600px;
    }

    @media (max-width: $breakpoint-desktop) {
      order: -1;
      min-height: 500px;
    }

    @media (max-width: $breakpoint-mobile) {
      // width: 250px;
      // height: 400px;
    }

    img:nth-child(1) {
      position: relative;
      z-index: 1;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      // object-fit: contain;
    }

    img:nth-child(2) {
      position: absolute;
      margin-top: 80px;
      margin-right: 100px;
      z-index: -1;
      object-fit: cover;
    }
  }
}
