<section id="about-me">
    <div class="info-container">
        <h1>About me</h1>
        <div class="info-content">
            <span style="white-space: pre-line;">{{ introductionText }}</span>
            <table>
                <tr>
                    <td><img src="./assets/img/location.png"></td>
                    <td>{{ locationText }}</td>
                </tr>
                <tr>
                    <td><img src="./assets/img/bulb.png"></td>
                    <td>{{ learningText }}</td>
                </tr>
                <tr>
                    <td><img src="./assets/img/puzzle.png"></td>
                    <td>{{ solvingText }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="photo-container">
        <img src="./assets/img/photo.png">
        <img src="./assets/img/shadows_photo.png">
    </div>
</section>