<section id="contact">
    <img src="./assets/img/shadow_contact.png" id="shadow">
    <div class="headline">
        <h1>{{ 'contact.headline' | translate }}</h1>
        <div class="line"></div>
    </div>
    <div class="contact-content">
        <div class="text">
            <div class="text-headline">
                <div class="line"></div>
                <h2>{{ 'contact.problemHeadline' | translate }}</h2>
            </div>
            <p>
                <br>
                {{ 'contact.introText' | translate }}
                <br>
                <br>
                {{ 'contact.needDev' | translate }}
                <span>{{ 'contact.contactMe' | translate }}</span>
            </p>
        </div>
        <div class="form-container">
            <form (ngSubmit)="onSubmit(contactform)" #contactform="ngForm">
                <label for="name"></label>
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    placeholder="{{ 'contact.form.namePlaceholder' | translate }}" required
                    pattern="^[a-zA-Z]+ [a-zA-Z]+$">
                @if(!name.valid && name.touched){
                <span class="invalid">{{ 'contact.form.nameError' | translate }}</span>
                }

                <label for="email"></label>
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="email"
                    placeholder="{{ 'contact.form.emailPlaceholder' | translate }}" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if(!email.valid && email.touched){
                <span class="invalid">{{ 'contact.form.emailError' | translate }}</span>
                }

                <label for="message"></label>
                <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" id="message"
                    placeholder="{{ 'contact.form.messagePlaceholder' | translate }}" required></textarea>
                @if(!message.valid && message.touched){
                <span class="invalid">{{ 'contact.form.messageError' | translate }}</span>
                }
                <div class="agree">
                    <input #checkbox="ngModel" type="checkbox" name="checkbox" id="checkbox"
                        [(ngModel)]="contactData.checkbox" required>
                    <label for="checkbox" class="custom-checkbox"></label>
                    <p>
                        {{ 'contact.form.privacyTextPart1' | translate }}
                        <a href="imprint">{{ 'contact.form.privacyLinkText' | translate }}</a>
                        {{ 'contact.form.privacyTextPart2' | translate }}
                    </p>
                </div>
                @if(!checkbox.valid && checkbox.touched){
                <span class="invalid">{{ 'contact.form.privacyError' | translate }}</span>
                }
                <button class="regular-btn" type="submit" [disabled]="!contactform.valid">{{ 'contact.form.submitBtn' |
                    translate }}</button>
            </form>
        </div>
    </div>
    <a href="#above-the-fold" class="go-up-btn">
        <img src="./assets/img/go-up.png">
    </a>

</section>