@import "./../../styles.scss";

section#contact {
  padding: 100px;
  .headline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(100px);
    gap: 32px;
    .line {
      width: 500px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      background-color: $g;
    }
  }
}
