<div class="contact-outer-wrapper">
    <section id="contact">
        <img src="./assets/img/shadow_contact.png" id="shadow">
        <div class="headline">
            <h1>{{ 'contact.headline' | translate }}</h1>
            <div class="line"></div>
        </div>
        <div class="contact-content">
            <div class="text">
                <div class="text-headline">
                    <div class="line"></div>
                    <h2>{{ 'contact.problemHeadline' | translate }}</h2>
                </div>
                <p>
                    <br>
                    {{ 'contact.introText' | translate }}
                    <br>
                    <br>
                    {{ 'contact.needDev' | translate }}
                    <span>{{ 'contact.contactMe' | translate }}</span>
                </p>
            </div>
            <div class="form-container">
                <form (ngSubmit)="onSubmit(contactform)" #contactform="ngForm">
                    <div class="input-group">
                        <input #name="ngModel" [(ngModel)]="contactData.name" (blur)="markAsTouched('name')"
                            [ngClass]="{valid: name.valid && nameTouched.name, invalid: !name.valid && nameTouched.name}"
                            type="text" id="name" name="name"
                            placeholder="{{ 'contact.form.namePlaceholder' | translate }}"
                            pattern="^[a-zA-Z]+ [a-zA-Z]+$" required />
                        <span class="status-icon" *ngIf="nameTouched.name">
                            <img *ngIf="name.valid" src="assets/img/valid.png" alt="valid icon" />
                            <img *ngIf="!name.valid" src="assets/img/invalid.png" alt="invalid icon" />
                        </span>
                        <span class="invalid" [class.show]="nameTouched.name && !name.valid">
                            {{ 'contact.form.nameError' | translate }}
                        </span>
                    </div>

                    <div class="input-group">
                        <input #email="ngModel" [(ngModel)]="contactData.email" (blur)="markAsTouched('email')"
                            [ngClass]="{valid: email.valid && nameTouched.email, invalid: !email.valid && nameTouched.email}"
                            type="email" id="email" name="email"
                            placeholder="{{ 'contact.form.emailPlaceholder' | translate }}"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
                        <span class="status-icon" *ngIf="nameTouched.email">
                            <img *ngIf="email.valid" src="assets/img/valid.png" alt="valid icon" />
                            <img *ngIf="!email.valid" src="assets/img/invalid.png" alt="invalid icon" />
                        </span>
                        <span class="invalid" [class.show]="nameTouched.email && !email.valid">
                            {{ 'contact.form.emailError' | translate }}
                        </span>
                    </div>

                    <div class="input-group">
                        <textarea #message="ngModel" [(ngModel)]="contactData.message" (blur)="markAsTouched('message')"
                            [ngClass]="{valid: message.valid && nameTouched.message, invalid: !message.valid && nameTouched.message}"
                            name="message" id="message"
                            placeholder="{{ 'contact.form.messagePlaceholder' | translate }}" minlength="4"
                            required></textarea>
                        <span class="status-icon" *ngIf="nameTouched.message">
                            <img *ngIf="message.valid" src="assets/img/valid.png" alt="valid icon" />
                            <img *ngIf="!message.valid" src="assets/img/invalid.png" alt="invalid icon" />
                        </span>
                        <span class="invalid" [class.show]="nameTouched.message && !message.valid">
                            {{ 'contact.form.messageError' | translate }}
                        </span>
                    </div>

                    <div class="agree">
                        <input #checkbox="ngModel" type="checkbox" name="checkbox" id="checkbox"
                            [(ngModel)]="contactData.checkbox" required>
                        <label for="checkbox" class="custom-checkbox"></label>
                        <p>
                            {{ 'contact.form.privacyTextPart1' | translate }}
                            <a href="privacy">{{ 'contact.form.privacyLinkText' | translate }}</a>
                            {{ 'contact.form.privacyTextPart2' | translate }}
                        </p>
                    </div>
                    <span class="invalid" [class.show]="checkbox.touched && !checkbox.valid">
                        {{ 'contact.form.privacyError' | translate }}
                    </span>

                    <button class="regular-btn" type="submit" [disabled]="!contactform.valid">{{
                        'contact.form.submitBtn' |
                        translate }}</button>
                </form>
            </div>
        </div>
        <a href="#above-the-fold" class="go-up-btn">
            <img src="./assets/img/go-up.png">
        </a>

    </section>
</div>