@import "./../../styles.scss";

@keyframes bounce {
  10% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@import "./../../styles.scss";

section#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 100px 0;
  scroll-margin-top: 150px;

  .skill-img-container {
    order: 1;
    width: 60%;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    transform: translateY(40px);

    .skill-item {
      width: calc((100% - 3 * 40px) / 4);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: white;
      position: relative;

      img.skill {
        object-fit: contain;
        border-radius: 4px;
        width: 100%;
        max-width: 60px;
        max-height: 60px;

        &:hover {
          animation: bounce 0.6s ease-in;
        }

        &.no-hover:hover {
          animation: none;
        }
      }

      .skill-label {
        font-weight: 700;
        margin-top: 10px;
        font-size: 16px;
      }

      .speech-bubble {
        position: absolute;
        width: 120%;
        top: -100%;
        left: 10%;
        z-index: 2;
        pointer-events: none;
        animation: fadeIn 125ms ease-in-out;
      }
    }
  }

  .skill-text-container {
    order: 2;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    z-index: 1;
    transform: translateY(40px);

    .headline {
      display: flex;
      align-items: center;

      h1 {
        font-size: clamp(36px, 5vw, 90px);
      }

      .line {
        width: 100%;
        background-color: $lightblue;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        transform: translateX(100px);
      }
    }

    .description {
      font-size: 16px;
    }
  }

  .skill-followup-container {
    order: 3;
    width: 35%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;

    h2 {
      font-size: 24px;
    }

    .highlight {
      color: $purple;
    }

    .followup {
      font-size: 16px;
    }

    .regular-btn {
      align-self: flex-start;
      margin-top: 16px;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  section#skills {
    flex-direction: column;
    align-items: center;
    padding: 32px 30px 40px;

    .skill-img-container {
      order: 2;
      width: 100%;
      transform: none;
    }

    .skill-text-container {
      order: 1;
      width: 100%;
      margin-bottom: 32px;
      transform: none;
      .headline {
        gap: 24px;
        .line {
          transform: translateX(30px);
        }
      }
    }

    .skill-followup-container {
      order: 3;
      width: 100%;
      margin-top: 32px;
      align-items: center;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .regular-btn {
    font-size: 19px;
  }

  section#skills {
    padding: 80px 15px 15px;
    scroll-margin-top: 40px;
    .skill-img-container {
      .skill-item {
        width: calc((100% - 2 * 40px) / 3);
      }
    }
    .skill-text-container {
      .headline {
        .line {
          transform: translateX(15px);
        }
      }
    }
  }
}
