@import "./../../styles.scss";

@keyframes bounce {
  10% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

section {
  display: $f;
  justify-content: space-between;
  padding: 124px 0;
  gap: 64px;

  .skill-img-container {
    display: $f;
    width: 700px;
    flex-wrap: wrap;
    gap: 80px;

    .skill-item {
      width: calc((100% - 3 * 80px) / 4);
      display: $f;
      flex-direction: $col;
      align-items: $c;
      text-align: $c;
      padding-top: 12px;
      word-wrap: break-word;

      img.skill {
        object-fit: contain;

        &:hover {
          animation: bounce 0.6s ease-in;
        }
      }

      .skill-label {
        font-family: $bold;
        margin-top: 10px;
        font-size: 16px;
        width: 90px;
      }
    }
  }

  .skill-text-container {
    display: $f;
    width: 600px;
    flex-direction: $col;

    .headline {
      display: $f;
      align-items: $c;
      justify-content: flex-end;
      gap: 32px;
      h1 {
        font-family: $bold;
        font-size: 90px;
      }
      .line {
        width: 287px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: $lightblue;
      }
    }
    .highlight {
      color: $purple;
    }
  }
}
