<section id="skills">
  <div class="skill-img-container">
    <div class="skill-item" *ngFor="let skill of skills" (mouseenter)="hoveredSkill = skill.image"
      (mouseleave)="hoveredSkill = null">
      <img class="skill" [src]="'./assets/img/' + skill.image + '.png'"
        [ngClass]="{ 'no-hover': skill.image === 'learn' }" />
      <div class="skill-label">{{ skill.label }}</div>
      <div *ngIf="skill.image === 'learn' && hoveredSkill === 'learn'" class="speech-bubble">
        <img src="./assets/img/speechbubble.png" />
      </div>


    </div>

  </div>
  <div class="skill-text-container">
    <div class="headline">
      <h1>Skills</h1>
      <div class="line"></div>
    </div>

    <p class="description">
      I have gained valuable experience working on a variety of projects using modern front-end technologies like HTML,
      CSS, and JavaScript. I’m always open to learning and adapting to new tools and frameworks. I believe that
      continuous learning is key to keeping up with the fast-paced world of web development.
    </p>

    <h2>
      Looking for <span class="highlight">another skill?</span>
    </h2>

    <p class="followup">
      I'm always eager to explore new technologies and frameworks to expand my capabilities.
    </p>

    <button class="regular-btn">Get in touch</button>
  </div>

</section>