@import "./../../styles.scss";

section#portfolio {
  padding: 100px $padding-lr 200px;
  overflow: hidden;
  position: relative;

  .headline {
    display: $f;
    align-items: $c;
    gap: 32px;
    transform: translateX(-100px);
    margin-top: 16px;

    h1 {
      font-size: clamp(36px, 5vw, 90px);
    }

    .line {
      width: 68px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: $purple;
    }
  }
  .description {
    margin-top: 48px;
    width: 100%;
    max-width: 473px;
    font-size: clamp(14px, 2vw, 20px);
  }

  .item-container {
    margin-top: 32px;
    display: $f;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: $c;

    .portfolio-item {
      position: relative;
      max-width: 601px;
      max-height: 600px;
      overflow: hidden;
      border-radius: 15px;
      border: 1px solid $g;
      background: linear-gradient(45deg, #000000 0%, $darkblue 30%);

      .image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 125ms ease;
        }
      }
      .project-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(0);
        width: 100%;
        height: 100%;
        display: $f;
        flex-direction: column;
        justify-content: flex-end;
        gap: clamp(24px, 5vh, 64px);
        opacity: 0;
        transition: opacity 125ms ease;

        .buttons {
          display: $f;
          justify-content: space-evenly;

          .btn {
            padding: 15px 30px;
            font-size: 23px;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            transition: all 125ms ease-in-out;
          }

          .github {
            border: 1px solid $lightblue;
            &:hover {
              background-color: $lightblue;
            }
          }
          .live-test {
            background-color: $purple;
            &:hover {
              background-color: $g;
            }
          }
        }

        .info {
          background-color: white;
          height: auto;
          min-height: 50%;
          max-height: 200px;
          padding: 0 25px;
          border-radius: 30px 30px 0 0;
          display: $f;
          flex-direction: $col;
          align-items: $c;
          justify-content: $c;
          text-align: $c;

          h2 {
            color: $purple;
          }

          p {
            font-size: 23px;
            color: black;
          }

          .tech {
            font-size: 23px;
            color: $g;
          }
        }
      }

      &:hover {
        .image-wrapper img {
          transform: scale(2);
        }

        .project-overlay {
          opacity: 100%;
          background-color: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }

  img.shadow-blue,
  img.shadow-green {
    position: absolute;
    width: clamp(300px, 40vw, 830px);
    height: auto;
    z-index: -1;
  }

  img.shadow-blue {
    top: 80px;
    right: -80px;
  }
  img.shadow-green {
    bottom: 0;
    left: 0;
    transform: translateX(-25vw);
  }
}

@media (max-width: $breakpoint-tablet) {
  section#portfolio {
    padding: 80px 16px 150px;
    .headline {
      transform: translateX(-16px);
    }
    .description {
      font-size: 14px;
      width: 90%;
    }

    .item-container {
      gap: 24px;

      .portfolio-item {
        max-width: 100%;
        max-height: none;

        .project-overlay {
          gap: 6px;

          .buttons {
            .btn {
              font-size: 16px;
              padding: 12px 24px;
              text-align: center;
            }
          }

          .info {
            height: auto;
            padding: 6px;
            min-height: unset;
            max-height: unset;
            border-radius: 20px 20px 0 0;

            h2 {
              font-size: 20px;
            }

            p,
            .tech {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
