<section id="imprint">
  <div class="imprint-wrapper">

    <h1>{{ 'imprint.title' | translate }}</h1>
    <p>{{ 'imprint.lastUpdate' | translate }}</p>

    <h2>{{ 'imprint.provider.head' | translate }}</h2>
    <address class="block">
      <span>{{ 'imprint.provider.name'    | translate }}</span><br />
      <span>{{ 'imprint.provider.street'  | translate }}</span><br />
      <span>{{ 'imprint.provider.city'    | translate }}</span><br />
      <span>{{ 'imprint.provider.country' | translate }}</span>
    </address>

    <h2>{{ 'imprint.contact.head' | translate }}</h2>
    <p class="block">
      <strong>E‑Mail: </strong>
      <a href="mailto:kontakt@akleinschmidt.net">
        kontakt&#64;akleinschmidt.net
      </a>
    </p>

    <h2>{{ 'imprint.broadcast.head' | translate }}</h2>
    <p class="block">
      {{ 'imprint.provider.name'    | translate }}<br />
      {{ 'imprint.provider.street'  | translate }}<br />
      {{ 'imprint.provider.city'    | translate }}
    </p>

    <h2>{{ 'imprint.hosting.head' | translate }}</h2>
    <p class="block">
      ALL‑INKL.COM – Neue Medien Münnich<br>
      René Münnich<br>
      Hauptstraße 68, 02742 Friedersdorf, Deutschland
    </p>

    <h2>{{ 'imprint.os.head' | translate }}</h2>
    <p class="block">{{ 'imprint.os.text' | translate }}</p>

    <hr />

    <h1 id="privacy">{{ 'privacy.title' | translate }}</h1>
    <p>{{ 'privacy.intro' | translate }}</p>

    <h2>{{ 'privacy.controller.head' | translate }}</h2>
    <p class="block">
      {{ 'imprint.provider.name'    | translate }}<br />
      {{ 'imprint.provider.street'  | translate }}<br />
      {{ 'imprint.provider.city'    | translate }}<br />
      <a href="mailto:kontakt@akleinschmidt.net">kontakt&#64;akleinschmidt.net</a>
    </p>

    <h2>{{ 'privacy.contactForm.head' | translate }}</h2>
    <p>{{ 'privacy.contactForm.text' | translate }}</p>

    <h2>{{ 'privacy.rights.head' | translate }}</h2>
    <ul>
      <li>{{ 'privacy.rights.access'   | translate }}</li>
      <li>{{ 'privacy.rights.delete'   | translate }}</li>
      <li>{{ 'privacy.rights.correct'  | translate }}</li>
      <li>{{ 'privacy.rights.restrict' | translate }}</li>
      <li>{{ 'privacy.rights.complain' | translate }}</li>
    </ul>

    <h2>{{ 'privacy.hosting.head' | translate }}</h2>
    <p>{{ 'privacy.hosting.text' | translate }}</p>

    <h2>{{ 'privacy.github.head' | translate }}</h2>
    <p>{{ 'privacy.github.text' | translate }}</p>
  </div>
</section>
