@import "./../../styles.scss";

section#imprint {
  width: 100%;
  overflow: hidden;

  .imprint-wrapper {
    max-width: $breakpoint-1440p;
    margin: 0 auto;
    padding: 120px 100px;

    @media (max-width: $breakpoint-mobile) {
      padding: 106px 15px;
    }
  }

  #privacy {
    padding-top: 120px;

    @media (max-width: $breakpoint-mobile) {
      padding-top: 106px;
    }
  }

  hr {
    height: 1px;
    border-width: 0;
    color: transparent;
    background: linear-gradient(90deg, $g, $g, $purple, $purple);
  }

  h1 {
    font-size: 48px;
    margin: 0 0 32px 0;

    @media (max-width: $breakpoint-tablet) {
      font-size: 32px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 26px;
    }
  }

  h2 {
    font-size: 28px;
    margin: 40px 0 8px 0;

    @media (max-width: $breakpoint-tablet) {
      font-size: 22px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 19px;
    }
  }

  p,
  address,
  li {
    font-size: 16px;
    line-height: 1.6;

    @media (max-width: $breakpoint-tablet) {
      font-size: 14px;
    }
    @media (max-width: $breakpoint-mobile) {
      font-size: 12px;
    }
  }

  .block {
    margin-bottom: 16px;
  }

  ul {
    padding-left: 20px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(90deg, $g, $purple);
    background-size: 200% auto;
    background-position: left center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 125ms ease-in-out;
  }

  a:hover {
    background-position: right center;
  }
}
