<div class="nav-links">
  <a href="#about-me" (click)="handleClick('about-me')" [class.active]="isActive('about-me')">
    {{ 'header.aboutMe' | translate }}
  </a>
  <a href="#skills" (click)="handleClick('skills')" [class.active]="isActive('skills')">
    {{ 'header.skills' | translate }}
  </a>
  <a href="#portfolio" (click)="handleClick('portfolio')" [class.active]="isActive('portfolio')">
    {{ 'header.portfolio' | translate }}
  </a>
  <a  href="#contact" (click)="handleClick('contact')" [class.active]="isActive('contact')">
    {{ 'header.contact' | translate }}
  </a>
</div>

<div class="language-btns">
  <button class="language-btn" [class.active]="currentLang === 'de'" (click)="switchLanguage('de')">DE</button>
  <button class="language-btn" [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">EN</button>
</div>
