<section id="privacy">
  <div class="privacy-wrapper">
    <h1>{{ 'privacy.title' | translate }}</h1>
    <p>{{ 'privacy.intro' | translate }}</p>

    <h2>{{ 'privacy.controller.head' | translate }}</h2>
    <p class="block">
      {{ 'imprint.provider.name' | translate }}<br />
      {{ 'imprint.provider.location' | translate }}<br />
      <a href="mailto:kontakt@akleinschmidt.net">kontakt&#64;akleinschmidt.net</a>
    </p>

    <h2>{{ 'privacy.contactForm.head' | translate }}</h2>
    <p>{{ 'privacy.contactForm.text' | translate }}</p>

    <h2>{{ 'privacy.rights.head' | translate }}</h2>
    <ul>
      <li>{{ 'privacy.rights.access' | translate }}</li>
      <li>{{ 'privacy.rights.delete' | translate }}</li>
      <li>{{ 'privacy.rights.correct' | translate }}</li>
      <li>{{ 'privacy.rights.restrict' | translate }}</li>
      <li>{{ 'privacy.rights.complain' | translate }}</li>
    </ul>

    <h2>{{ 'privacy.hosting.head' | translate }}</h2>
    <p>{{ 'privacy.hosting.text' | translate }}</p>

    <h2>{{ 'privacy.github.head' | translate }}</h2>
    <p>{{ 'privacy.github.text' | translate }}</p>
  </div>
</section>