@import "./../../styles.scss";

.transition-wrapper {
  position: absolute;
  width: 100%;
  aspect-ratio: 16 / 5;
  background-image: url("/assets/img/curved.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -500px;
}
