<div id="above-the-fold">
    <img class="left" src="./assets/img/shadow_atf_p.png">
    <img class="right" src="./assets/img/shadow_atf_b.png">
    <div class="atf-header">
        <span>{{ 'atf.intro' | translate }}</span>
        <div class="atf-headline">
            <h1>Adrian Kleinschmidt</h1>
            <h2>Frontend {{ 'atf.headline' | translate }}</h2>
        </div>
    </div>
    <a href="#contact"><button class="regular-btn">{{ 'atf.button' | translate }}</button></a>
    <div class="socials">
        <div class="line"></div>
        <a href="https://github.com/Plepponium"  target="_blank"><img src="./assets/img/github.png"></a>
        <a href="#contact"><img src="./assets/img/mail.png"></a>
    </div>
    <p id="scroll-btn">{{ 'atf.vertical' | translate }} &#8594;</p>
</div>