@import "./../../styles.scss";

section#above-the-fold {
  position: relative;
  max-width: $breakpoint-1440p;
  height: 100vh;
  overflow: hidden;
  display: $f;
  flex-direction: $col;
  justify-content: $c;
  align-items: $c;
  padding: 0 100px;
  gap: 35px;

  @media (min-width: $breakpoint-1440p) {
    margin: auto;
    overflow: visible;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 15px;
  }

  .left,
  .right {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: auto;

    @media (max-width: $breakpoint-tablet) {
      width: 350px;
    }
    @media (max-width: $breakpoint-mobile) {
      width: 300px;
    }
  }

  .left {
    left: 0;
    @media (max-width: $breakpoint-tablet) {
      left: -100px;
      top: 250px;
    }
  }

  .right {
    right: 0;
    @media (max-width: $breakpoint-tablet) {
      right: -100px;
      bottom: 100px;
    }
    @media (max-width: $breakpoint-mobile) {
      right: -50px;
    }
  }

  #scroll-btn {
    position: absolute;
    cursor: default;
    right: 50px;
    bottom: 120px;
    transform: rotate(90deg);
    font-size: 23px;
    color: $w;
    line-height: 120%;
    letter-spacing: 0;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.atf-header {
  display: $f;
  align-items: $c;
  justify-content: $c;
  text-align: $c;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
  span {
    font-size: clamp(32px, 6vw, 90px);
    transform: rotate(-90deg);
    color: $w;
    white-space: nowrap;
    @media (max-width: $breakpoint-mobile) {
      transform: none;
    }
  }
}

.atf-headline {
  display: $f;
  flex-direction: $col;
  max-width: 100%;

  h1 {
    font-size: clamp(29px, 6vw, 96px);
    word-break: break-word;
  }
  h2 {
    font-family: poppins;
    font-size: clamp(23px, 4.5vw, 64px);
    color: $purple;
    text-transform: uppercase;
  }
}

.socials {
  position: absolute;
  left: 0;
  bottom: 50px;
  display: $f;
  align-items: $c;
  gap: 42px;

  .line {
    width: 100px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: $g;
  }
  a {
    transition: all 125ms ease-in-out;
    &:hover {
      transform: scale(1.25) translate(4px, 0);
    }
  }
}

.regular-btn {
  @media (max-width: $breakpoint-mobile) {
    font-size: 19px;
  }
}
