<div id="atf-wrapper">
    <img class="left" src="./assets/img/shadow_atf_p.png">
    <img class="right" src="./assets/img/shadow_atf_b.png">
    <div class="atf-header">
        <span>I am</span>
        <div class="atf-headline">
            <h1>Adrian Kleinschmidt</h1>
            <h2>Frontend Developer</h2>
        </div>
    </div>
    <button class="regular-btn">Let's talk!</button>
    <div class="socials">
        <div class="line"></div>
        <a href="https://github.com/Plepponium"  target="_blank"><img src="./assets/img/github.png"></a>
        <a href="#contact"><img src="./assets/img/mail.png"></a>
    </div>
    <a id="scroll-btn" href="#">Scroll down &#8594;</a>
</div>